@import 'https://fonts.googleapis.com/css?family=Lato: 900';

#welcomeText {
  color: white;
  font-size: 20px;
  position: relative;
  left: 515px;
}

#profileImage {
  border-radius: 50%;
  width: 150px;
  align-content: center;
}
.profile {
  text-align: center;
}

#avatar {
  position: relative;
  float: inherit;
  border-radius: 50%;
}

h1 {
  font-size:40px;
  font-weight: 900;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color:#fff;
    font-size: 100px;
    position:absolute;
    top:80px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ddf;  /*Sets the text hover color on navbar*/
}

.navbar-default {
  height:200px;
  background-color: #42a5f5;
  border-color: none;
}

.navbar-default {
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
   margin-top: 20px;
   position:relative;
   top:125px;
   font-size: 25px;
   font-weight: bolder;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 10px 6px -6px #999;

    /* the rest of your styling */
}


.notes {
  width: 200px;
  height: 200px;

  border: 1px rgb(89,89,89) solid;

  background: rgba(131, 120, 120, 0.69);

  color: rgb(25,25,25);
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  text-align: center;

  line-height: 1.3em;

}

.notes {
  border: none;
  float: left;
  margin: 5px;
  box-shadow: 10px 10px 5px #888888;
  overflow-x: scroll;
  white-space: nowrap;
  width: 200px;

}

.deleteBtn {
  color: gray;
  float: left;
}

b {
  margin-right: 100px;
}

.photos img {
    position: relative;;
    float: left;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 5px #888888;
    display: inline;
    z-index:0;
    overflow:auto

}


.photos img:nth-of-type(1) {
    left: 50px;
    top: 50px;
}

.photos img:nth-of-type(2) {
    left: 150px;
    top: 100px;
}

.photos img:nth-of-type(3) {
    left: 250px;
    top: 50px;
}

.photos img:nth-of-type(4) {
    left: 350px;
    top: 150px;
}

.photos img:nth-of-type(5) {
    left: 450px;
    top: 50px;
}

.photos img:nth-of-type(1) {
    left: 50px;
    top: 50px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.photos img:nth-of-type(2) {
    left: 150px;
    top: 100px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.photos img:nth-of-type(3) {
    left: 250px;
    top: 50px;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}

.photos img:nth-of-type(4) {
    left: 350px;
    top: 150px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.photos img:nth-of-type(5) {
    left: 450px;
    top: 50px;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.photos img:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 10;
}


.photos img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding: 10px 10px 30px 10px;
    background: white;
    border: solid 1px black;
}
